Source: io.elementary.mail
Section: x11
Priority: extra
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libcamel1.2-dev,
               libedataserver1.2-dev,
               libedataserverui1.2-dev,
               libfolks-dev,
               libgee-0.8-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.10.0),
               libglib2.0-dev (>= 2.34.0),
               libhandy-1-dev,
               libwebkit2gtk-4.0-dev,
               meson,
               valac
Standards-Version: 4.1.1
Homepage: http://github.com/elementary/mail

Package: io.elementary.mail
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Email client
 Mail is an email client built for elementary's Pantheon desktop environment. It
 allows you to read and send email with a simple, modern interface.
