.titlebar + scrolledwindow undershoot.top {
    background:
        linear-gradient(
            @borders,
            alpha(black, 0.05) 1px,
            alpha(black, 0.0) 0.444rem
        );
}

.conversation-list-item {
    box-shadow: 0 -1px 0 @menu_separator;
}

.message-list list {
    padding: 0 1rem 0.25rem;
}

.message-list-item {
    margin: 0.75rem 0;
}

.message-list-item.collapsed {
    margin-bottom: -3.5em;
}

entry button,
entry entry {
	border: none;
	box-shadow: none;
	background: none;
	padding: 0;
}

entry button label {
    opacity: 0.6;
    padding: 0 3px;
}

entry button:hover label {
    opacity: 1;
}

entry button:focus {
    background-color: alpha (@text_color, 0.15);
}

entry button:checked label {
    color: @accent_color;
    opacity: 1;
}

entry button:disabled label {
    opacity: 0.5;
}

.unread-message {
    font-weight: bolder;
}
