.card.collapsed {
    margin-bottom: -64px;
}

.conversation-list-item {
    box-shadow: 0 -1px 0 @menu_separator;
}

.entry button,
.entry entry {
	border: none;
	box-shadow: none;
	background: none;
	padding: 0;
}

.entry button label {
    opacity: 0.6;
}

.entry button:hover label {
    opacity: 1;
}

.entry button:focus {
    background-color: alpha (@text_color, 0.15);
}

.entry button:checked label {
    color: @colorAccent;
    opacity: 1;
}

.unread-message {
    font-weight: bolder;
}
