.card.collapsed {
    margin-bottom: -64px;
}

.conversation-list-item {
    box-shadow: 0 -1px 0 @menu_separator;
}

button.cc-button {
    border-radius: 3px;
}

button.cc-button label {
    font-weight: 600;
}

.unread-message {
    font-weight: bolder;
}
