name: CI

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-latest

    container:
      image: elementary/docker:unstable

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        apt update
        apt install -y libcamel1.2-dev libedataserver1.2-dev libedataserverui1.2-dev libfolks-dev libgee-0.8-dev libglib2.0-dev libgranite-dev libhandy-1-dev libwebkit2gtk-4.0-dev meson valac
    - name: Build
      run: |
        meson build
        ninja -C build
        ninja -C build install

  flatpak:

    runs-on: ubuntu-latest

    container:
      image: docker.io/bilelmoussaoui/flatpak-github-actions
      options: --privileged

    steps:
    - uses: actions/checkout@v2
    - uses: bilelmoussaoui/flatpak-github-actions@master
      with:
        bundle: "io.elementary.mail.flatpak"
        manifest-path: "io.elementary.mail.yml"
        repository-name: "elementary"
        repository-url: "https://flatpak.elementary.io/elementary.flatpakrepo"
        cache-key: "flatpak-builder-${{ github.sha }}"

  lint:

    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v1
    - name: Lint
      run: io.elementary.vala-lint -d .
